{% extends "base.html" %}
{% block title %}
    Zero Fox Sheets
{% endblock %}

{% block body %}

<!-- Display flash message after cheat sheet have been sent to be stored in database -->

    {% for message in get_flashed_messages()%}
    {{ message }}
    {% endfor %}
    
    
    <!-- section to search for cheat sheets -->
    <div>
        <form action="/search" method="post">
            <label for="search_kword">Enter keyword for Cheat Sheet Search</label>
            <input type="text" name="search_kword" id="search_kword">            
            <input type="submit" value="Search for Cheat Sheets" class=" btn submit_btn">            
        </form>
    </div>
    
    <!-- section for  entering cheat sheet entriew -->
    <div>
        <form action="#" method="post">
            <label for="group">Select Group to Add Cheat Sheet Entry to</label>
            <select name="group" id="group">
                <option value="python" selected>Python</option>
                <option value="linux">Linux</option>
                <option value="html">HTML</option>
            </select>
            
            
            <label for="what">What do You Want to do</label>
            <input type="text" name="what" id="what">
            
            
            <label for="how">How to do it</label>
            <input type="text" name="how" id="how">
            
            <input type="submit" value="Enter Cheat Sheet" class="submit_btn">
        </form>
    </div>
    <br>
    
    <!-- section to choose group from cheat sheet to review -->
    
    <div>
        <form action="#" method="post">
            <label for="review">Select Group to Return Cheat Sheet Entry to Review</label>
            <select name="group" id="group">
                <option value="python" selected>Python</option>
                <option value="linux">Linux</option>
                <option value="html">HTML</option>
            </select>
            
            <input type="submit" value="Return Cheat Sheets for Group" class="submit_btn">
            
        </form>
    </div>

    
{% endblock %}
    
</body>
</html>